@navbar-default-bg: #e4e6e5;
@navbar-default-bg: white;
@navbar-default-brand-color: #2C1E5C;
@navbar-default-brand-hover-color: black;
@navbar-height: 36px;
@btn-primary-color: white;
@btn-primary-bg: #2C1E5C;
@btn-primary-border: black;
@text-color: #2C1E5C;
@panel-footer-bg: rgba(44, 30, 92, 0.9);
@panel-inner-border: black;
@panel-default-text: white;
@panel-info-text: white;
@panel-primary-text: white;
@navbar-inverse-bg: rgba(44, 30, 92, 0.9);
