<div class="jumbotron">
    <div class="container">
        <div class="col-sm-2">
            <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/c38.8.103.103/1779207_10100311295035269_252880975_a.jpg">
        </div>
        <div class="col-sm-8">
            <h1>{{user.fullName}}</h1>
            <button type="button" class="btn btn-lg btn-primary">
                <i class="fa fa-refresh"></i> Refresh Contacts
            </button>
        </div>
    </div>
</div>

<div data-upload></div>

