<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Find The Dude!!!</a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li data-ng-class="{'active': isActive('/dudes')}">
                <a href="/dudes">
                    <i class="fa fa-home"></i>&nbsp;Dudes!
                </a>
            </li>
            <li>
                <a href="/find" data-ng-class="{'active': isActive('/find')}">
                    <i class="fa fa-users"></i>&nbsp;Find them!
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="#" data-ng-click="logout()">
                    Log Out
                </a>
            </li>
        </ul>
    </div>
</div>
